<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test
            verbose="2"
            preserve-order="true"
            name="C:/Users/Wageh Essam/IntelJIDEA_workspace/GraduationVodafone">
        <classes>
            <class name="tests.TestCases">
                <methods><include name="RegisterUser"/>
                    <include name="LoginUserWithCorrectEmailAndPassword"/>
                    <include name="LoginUserWithInCorrectEmailAndPassword"/>
                    <include name="LogoutUser"/>
                    <include name="RegisterUserWithExistingEmail"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>